body {
    font-family: "Playfair Display", serif; 
}

.Name{
    font-size: 100px;
    text-align: center;
}
.btn-center {
    font-size: 200%;
    margin-right: auto;
    margin-left: auto;
    width: 5%;
    padding: 5px;
}
.Searchbar{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.table{
    font-family: "lato";
    width: 1000px;
    height: 500px;
    border-color: grey;
    border-width: thick;
    margin: auto;
    border: dashed;
    background-color: #fbea9b;
}
.dl-horizontal{
    font-size: 20px;
}

